<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>QuestionarioInfnetWAR</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  
  <filter>
	  <filter-name>FilterLogin</filter-name> <!-- mandatory -->
	  <filter-class>br.edu.infnet.filter.FilterLogin</filter-class> <!-- mandatory -->  
  </filter>
  
  <filter-mapping>
	  <filter-name>FilterLogin</filter-name> <!-- mandatory -->
	  <url-pattern>/sistema/*</url-pattern> <!-- either url-pattern or servlet-name is mandatory -->
	  <servlet-name>ControllerLogin</servlet-name>
	  <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  
</web-app>